        body
        {
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlC7sz8zbgCkSaLZJsSawZjgn_hJVBBIQYr96H_J_2UbS21aO36W2BeXE&s");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        a
        {
            color: #1e90ff;
            text-decoration: none;
        }
        
        button
        {
            background-color: #333333;
            color: #ffffff;
        }
        
        button:hover
        {
            background-color: #F95738;
        }
